<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="/assets/favicon.png" type="image/png">
        <link href="/assets/favicon.png" rel="mask-icon" size="any" color="black">
        <link rel="stylesheet" href="/assets/styles.css">
        <link rel="manifest" href="/assets/manifest.json">
        
        <title>snl.today</title>
        
        {# SEO #}
        <meta name="description" content="Is there a new SNL tonight?">
        <meta name="keywords" content="Saturday Night Live, Late Night with Seth Meyers, Tonight Show with Jimmy Fallon, NBC, Late Night, SNL, Tonight Show">

        {# iOS #}
        <meta name="apple-mobile-web-app-title" content="snl.today">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">

        {# Android #}
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="snl.today">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#0982FF">

        {# Microsoft #}
        <meta name="msapplication-navbutton-color" content="0982FF">
        <meta name="msapplication-starturl" content="/">

        {# Pinned Tabs #}
        <meta name="application-name" content="snl.today">
    </head>
    <body>
        <article id="hero">
            <a href="#snl">

            {% set snlWhen = snl[0].date | relativeDate %}
            {% if (snlWhen !== "tonight") or (snlWhen !== "tomorrow") %}
                <h1>No new SNL tonight</h1>
            {% else %}
                <h1>New SNL {{snlWhen}}</h1>
            {% endif %}
            </a>
        </article>
        {% for show in [{"shortTitle": "snl", "longTitle": "Saturday Night Live", "data": snl, "url": "https://www.nbc.com/saturday-night-live"},{"shortTitle": "lnsm", "longTitle": "Late Night with Seth Meyers", "data": lnsm, "url": "https://www.nbc.com/late-night-with-seth-meyers"},{"shortTitle": "tsjf", "longTitle": "The Tonight Show with Jimmy Fallon", "data": tsjf, "url": "https://www.nbc.com/the-tonight-show"}] %}
            <article id="{{ show.shortTitle }}" aria-label="{{ show.longTitle }}">
                <a href="{{ show.url }}"><img src="/assets/{{ show.shortTitle }}_logo.svg" alt="The {{ show.longTitle }} logo"></a>
                <h2>New episode
                    {{ show.data[0].date | relativeDate }}</h2>
                {% for episode in show.data %}
                    {% if loop.first %}
                        <details open>
                        {% else %}
                            <details>
                            {% endif %}
                            <summary>
                                <h3>
                                    <time datetime="{{ episode.date }}">{{ episode.date | prettyDate }}</time>
                                </h3>
                            </summary>
                            <section>
                                {# Plural grammar rules #}
                                {% if (episode.guests.length == 1) and (show.shortTitle == "snl") %}
                                    <h4>Host</h4>
                                {% elseif (episode.guests.length > 1) and (show.shortTitle == "snl") %}
                                    <h4>Hosts</h4>
                                {% elseif (episode.guests.length == 1) and (show.shortTitle != "snl") %}
                                    <h4>Guest</h4>
                                {% else %}
                                    <h4>Guests</h4>
                                {% endif %}
                                <ul>
                                    {% for guest in episode.guests %}
                                        <li>
                                            {# If there's a link, wrap guest's name in an anchor. If not, don't. #}
                                            {% if guest.promo %}
                                                <a href="{{ guest.promo }}">{{ guest.name }}</a>
                                            {% else %}
                                                {{ guest.name }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </section>
                            {% if episode.musicalGuests.length > 0 %}
                                <section>
                                    {% if episode.musicalGuests.length == 1 %}
                                        <h4>Musical Guest</h4>
                                    {% else %}
                                        <h4>Musical Guests</h4>
                                    {% endif %}
                                    <ul>
                                        {% for musicalGuest in episode.musicalGuests %}
                                            <li>
                                                <a href="{{ musicalGuest.promo }}">{{ musicalGuest.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </section>
                            {% endif %}
                        </details>
                    {% endfor %}
                </article>
            {% endfor %}
            <footer>
                <p>Last updated
                    {% buildTime %}. Is something out of date? Update it
                    <a href="https://github.com/samhenrigold/snl.today">on GitHub</a>.</p>
                <small id="sosumi">snl.today is not endorsed by, directly affiliated with, maintained, authorized, or sponsored by NBCUniversal. Saturday Night Live, Late Night with Seth Meyers, and The Tonight Show with Jimmy Fallon as well as related names, marks, emblems and images are registered trademarks of their respective owners.</small>
            </footer>
        </body>
    </body>
</html>